* {
    margin: 0px;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background: #222;
}

.card {
    height: 500px;
    max-width: 400px;
    background: rgb(15, 212, 226);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 25px;
    padding: 40px 30px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0px;
    outline: 0px;
    background: #ebffeb;
    color: #555;
    padding: 10px 20px;
    height: 50px;
    border-radius: 32px;
    flex: 2;
    margin-right: 15px;
    font-size: 20px;
}

.search button img {
    height: 45px;
}

.search button {
    border-radius: 50%;
}

.weather img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h1 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 50px;
    margin-right: 10px;
    margin-top: 0px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}